<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission yang diperlukan oleh aplikasi -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Menyatakan bahwa aplikasi menggunakan fitur kamera -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TubesRPLL"
        tools:targetApi="31">

        <!-- Aktivity yang ada dalam aplikasi -->
        <activity
            android:name=".view.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".view.TranslateVideoBISINDOToText"
            android:exported="false" />
        <activity
            android:name=".view.EditProfile"
            android:exported="false" />
        <activity
            android:name=".view.TranslateTextToBISINDO"
            android:exported="false" />
        <activity
            android:name=".view.TranslateTextToASL"
            android:exported="false" />
        <activity
            android:name=".view.NewsDetail"
            android:exported="false" />
        <activity
            android:name=".view.AllNews"
            android:exported="false" />
        <activity
            android:name=".view.Profile"
            android:exported="false" />
        <activity
            android:name=".view.TranslateVideoASLToText"
            android:exported="false" />
        <activity
            android:name=".view.SignIn"
            android:exported="false" />
        <activity
            android:name=".view.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.Home"
            android:exported="false" />

        <!-- Aktivity utama yang akan diluncurkan pertama kali saat aplikasi dibuka -->
        <activity
            android:name=".view.loadingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Metadata untuk font yang dimuat sebelumnya -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>